.wxFinder {
	position:absolute;
	top:35px;
	left:35px;
	padding:0;
	margin:0;
	background:#ffffff;
	border:1px solid rgba(155,155,155,1);
	border-radius: 4px;
	-moz-border-radius: 4px;
	behavior: url(../ie-css3.php);
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.5);
	width:500px;
	height:360px;
	z-index:10;
}

.wxFinder_top {
	width:100%;
	height:60px;
	position:relative;
	background:#fcfcfc;
	background: -moz-linear-gradient(top, #CBCBCB 0%, #A7A7A7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CBCBCB), color-stop(100%,#A7A7A7));
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	behavior: url(../ie-css3.php);
}

.wxFinder_buttons {
	left: 7px;
 	position: absolute;
 	top: 4px;
 	z-index:11;
}
.wxFinder_buttons div {
	width:10px;
  height:10px;
  border-radius: 11px;
  -moz-border-radius: 11px;
  behavior: url(../ie-css3.php);
  float:left;
  padding: 0px;
  margin: 0;
  margin-right:7.35px;
  border: 1px solid rgba(87, 94, 107, 0.85);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.1)));
  font: small-caps bold 10px/10px Lucida;
  text-align:center;
  cursor:default;
}

.wxFinder_top_permanents {
	height:19.5px;
	width:100%;
	margin:0;
	padding:0;
	position:relative;
}

.wxFinder_title {
	width:100%;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	color:#000000;
}
.wxFinder_nav {
	position:relative;
	height:30.5px;
	margin:0;
	padding:8px 0 0 0;
	width:100%;
}

.wxFinder_nav div {
	text-align:center;
}

.wxFinder_button_back {
  width:25px;
  height:20px;
  border: 1px solid #555555;
	background:#fcfcfc;
	background-image:url('../imgs/finder/buttons.png');
	background-image:url('../imgs/finder/buttons.png'), -moz-linear-gradient(top, #fcfcfc, #b0b0b0);
	background-image:url('../imgs/finder/buttons.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b0b0b0));
	background-position:0px 0px;
  border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  float:left;
  margin:0px 0px 0px 8px;
}
.wxFinder_button_back.finder_pressed {
	background-position:0px -20px;
}

.wxFinder_button_forward {
  width:25px;
  height:20px;
  border-top: 1px solid #555555;
  border-right: 1px solid #555555;
  border-bottom: 1px solid #555555;
	background:#fcfcfc;
	background-image:url('../imgs/finder/buttons.png');
	background-image:url('../imgs/finder/buttons.png'), -moz-linear-gradient(top, #fcfcfc, #b0b0b0);
	background-image:url('../imgs/finder/buttons.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b0b0b0));
	background-position:-26px 0px;
  border-radius:0px 4px 4px 0px;
  -moz-border-radius:0px 4px 4px 0px;
  float:left;
}
.wxFinder_button_forward.finder_pressed {
	background-position:-26px -20px;
}

.wxFinder_button_icon_view {
  width:27px;
  height:20px;
  border: 1px solid #555555;
	background-image:url('../imgs/finder/buttons.png');
	background-image:url('../imgs/finder/buttons.png'), -moz-linear-gradient(top, #fcfcfc, #b0b0b0);
	background-image:url('../imgs/finder/buttons.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b0b0b0));
	background-position:-47px 0px;
  border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  float:left;
  margin:0px 0px 0px 30px;
}
.wxFinder_button_icon_view.finder_pressed {
	background-position:-47px -20px;
}

.wxFinder_button_list_view {
  width:27px;
  height:20px;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
  border-right: 1px solid #555555;
	background-image:url('../imgs/finder/buttons.png');
	background-image:url('../imgs/finder/buttons.png'), -moz-linear-gradient(top, #fcfcfc, #b0b0b0);
	background-image:url('../imgs/finder/buttons.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b0b0b0));
	background-position:-71px 0px;
  float:left;
}
.wxFinder_button_list_view.finder_pressed {
	background-position:-71px -20px;
}

.wxFinder_button_column_view {
  width:27px;
  height:20px;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
  border-right: 1px solid #555555;
	background:#fcfcfc;
	background-image:url('../imgs/finder/buttons.png');
	background-image:url('../imgs/finder/buttons.png'), -moz-linear-gradient(top, #fcfcfc, #b0b0b0);
	background-image:url('../imgs/finder/buttons.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b0b0b0));
	background-position:-99px 0px;
  float:left;
}
.wxFinder_button_column_view.finder_pressed {
	background-position:-99px -20px;
}

.wxFinder_button_coverflow_view {
  width:27px;
  height:20px;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
  border-right: 1px solid #555555;
	background:#fcfcfc;
	background-image:url('../imgs/finder/buttons.png');
	background-image:url('../imgs/finder/buttons.png'), -moz-linear-gradient(top, #fcfcfc, #b0b0b0);
	background-image:url('../imgs/finder/buttons.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b0b0b0));
	background-position:-125px 0px;
	border-radius:0px 4px 4px 0px;
  -moz-border-radius:0px 4px 4px 0px;
  float:left;
}
.wxFinder_button_coverflow_view.finder_pressed {
	background-position:-125px -20px;
}

.wxFinder_button_quicklook {
  width:36px;
  height:20px;
  border: 1px solid #555555;
	background:#fcfcfc;
	background-image:url('../imgs/finder/buttons.png');
	background-image:url('../imgs/finder/buttons.png'), -moz-linear-gradient(top, #fcfcfc, #b0b0b0);
	background-image:url('../imgs/finder/buttons.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b0b0b0));
	background-position:-146px 0px;
	border-radius:4px;
  -moz-border-radius:4px;
  float:left;
  margin:0px 0px 0px 30px;
}
.wxFinder_button_quicklook.finder_pressed {
	background-position:-146px -20px;
}

.finder_pressed {
  background:#747474;
  background-image:url('../imgs/finder/buttons.png');
	background-image:url('../imgs/finder/buttons.png'), -moz-linear-gradient(top, #424242, #747474);
	background-image:url('../imgs/finder/buttons.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#424242), to(#747474));
  -webkit-box-shadow: inset 0px 2px 6px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 0px 2px 6px rgba(0,0,0,0.6);
  box-shadow: inset 0px 2px 6px rgba(0,0,0,0.6);
}

.wxFinder_content {
	width:365px;
	margin:0px 0px 0px 136px;
	border-top:1px solid rgba(81,81,81,1);
	border-bottom:1px solid rgba(81,81,81,1);
	color:#000000;
	overflow:auto;
}

.wxFinder_sidebar {
  width:135px !important;
  background: rgba(221, 228, 235, 1);
  border-right:1px solid rgba(180, 180, 180, 1);
  border-top:1px solid rgba(81,81,81,1);
	border-bottom:1px solid rgba(81,81,81,1);
	position:absolute;
	top:0;
	color:#000000;
	overflow:auto;
}

.wxFinder_footer {
	width:100%;
	height:23px;
	background:#fcfcfc;
	background: -moz-linear-gradient(top, #CBCBCB 0%, #A7A7A7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CBCBCB), color-stop(100%,#A7A7A7));
	position:absolute;
	bottom:0;
	overflow:hidden;
	text-align:center;
	color:#000000;
}