/*--- DOCK ---*/
#wxDock {
	height:58px;
	position:absolute;
	bottom:0;
	margin:0;
	padding:0;
	left: 50%;
	z-index: 999;
}

#wxDock_wrapper {
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

#wxDock_left {
	position:absolute;
	top:0;
	left:-25px;
	width: 25px;
  height: 58px;
  background: url("../imgs/dock/dock_ends.png") no-repeat 0 0;
}

#wxDock_right {
	position:absolute;
	top:0px;
	right: -25px;
	width: 25px;
  height: 58px;
  background: url("../imgs/dock/dock_ends.png") no-repeat -25px 0;
}

#wxDock_ul {
	list-style-type:none;
	padding:0 4px;
	margin:0;
	height:100%;
	background: url("../imgs/dock/dock_02.png") repeat-x 0 0;
}

#wxDock_ul li.wxDock_item {
	float:left;
	display:block;
	height:100%;
	margin:0 6px;
	padding:0;
	position:relative;
}

#wxDock_ul li.wxDock_item.right_clicked .dockIcon {
  -webkit-box-shadow: inset 0px 0px 64px #000000;
  -moz-box-shadow: inset 0px 0px 64px #000000;
  box-shadow: inset 0px 0px 64px #000000;
}

#wxDock_ul li.wxDock_item .dock_context {
  position:absolute;
  top:0px;
  left:-4px;
  background:rgba(0,0,0,0.8);
  color:#fff;
  width:120px;
  display:none;
  border:2px solid rgba(255,255,255,0.7);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

#wxDock_ul li.wxDock_item .dock_context:before {
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-28px; /* value = - border-top-width - border-bottom-width */
	left:11px; /* controls horizontal position */
	width:0;
	height:0;
	border:13px solid transparent;
	border-top-color:rgba(255,255,255,0.7);
}

/* creates the smaller  triangle */
#wxDock_ul li.wxDock_item .dock_context:after {
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-24px; /* value = - border-top-width - border-bottom-width */
	left:12px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	width:0;
	height:0;
	border:12px solid transparent;
	border-top-color:rgba(0,0,0,0.8);
}


#wxDock_ul li.wxDock_item.right_clicked .dock_context {
  display:block;
}

#wxDock_ul li.wxDock_separator {
  float:left;
	display:block;
	height:100%;
	margin:0 6px;
	padding:0;
	position:relative;
}

.dock_separator {
  width:17px;
  height:100%;
  background:url("../imgs/dock/separator.png") 0 0 no-repeat;
}

#wxDock_ul li.wxDock_item div.wxTip {
  display:none;
}

#wxDock_ul li.wxDock_item:hover div.wxTip {
  display:block;
}

#wxDock_ul li.wxDock_item.no_hover div.wxTip,
#wxDock_ul li.wxDock_item.right_clicked div.wxTip {
  display:none;
}

#dock_Dashboard {
  background: url("../imgs/dock/dock_sprite.png") 0 0 no-repeat;
}

#dock_Files {
  background: url("../imgs/dock/dock_sprite.png") 0 -42px no-repeat;
}

#dock_Settings {
  background: url("../imgs/dock/dock_sprite.png") 0 -84px no-repeat;
}

#dock_Paste {
  background: url("../imgs/dock/dock_sprite.png") 0 -42px no-repeat;
}

#dock_Browser {
  background: url("../imgs/dock/dock_sprite.png") 0 -126px no-repeat;
}

#dock_Finder {
  background: url("../imgs/dock/dock_sprite.png") 0 -168px no-repeat;
}

#dock_Trash {
  background: url("../imgs/dock/dock_sprite.png") 0 -210px no-repeat;
}

#dock_Trash.full {
  background: url("../imgs/dock/dock_sprite.png") 0 -252px no-repeat;
}

/*--- DOCK TIPS---*/
.wxTip {
  display: block;
  position: absolute;
  z-index: 999;
  height: 26px;
  padding: 0;
  top: -32px;
  left: 50%;
}

.wxTipText {
  border-radius: 20px;
  -moz-border-radius: 20px;
  background: rgba(30, 30, 30, 0.68);
  height: 20px;
  color: #fff;
  font: 13px/20px "Myriad Pro", Geneva, helvetica;
  margin: 0px;
  padding: 0px 12px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.85);
}

.wxTipText:after {
  border-color:rgba(30, 30, 30, 0.68) transparent;
  border-style:solid;
  border-width:5px 5px 0;
  bottom:-1px;
  content:"";
  display:block;
  height:2px;
  position:absolute;
  width:0;
  left:50%;
  margin-left: -5px;
}