html,body {
  width:100%;
  height:100%;
  overflow:hidden;
  font:14px Geneva, "Myriad Pro", helvetica;
  color:#eeeeec;
  margin:0;
  padding:0
}

body, #webxWrapper {
  background:#4169aa;
}

#wallpaper {
  width:100%;
  height:100%;
  z-index:1;
  position:absolute
}

.stretch {
  width:100%;
  height:100%;
}

#webxWrapper {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  position:relative
}

#starter {
  width:250px;
  height:100px;
  position:absolute;
  left:50%;
  margin-left:-125px;
  top:50%;
  margin-top:-50px;
  z-index:10;
  background:#cccccc;
  text-align:center;
  color:#333333;
  border-radius:10px;
  -moz-border-radius:10px;
  border:1px solid #333333;
}

#start_progress {
  width:200px;
  height:20px;
  margin:0 auto;
  border-radius:4px;
  -moz-border-radius:4px;
  border:1px solid #333333;
  background:#ffffff;
}

/*--- Progressbar Styles ---*/
.ui-progressbar-value {
  height:20px;
  background:#464646;
}

/*--- DOCK ICONS 42PX ---*/
.iIcon {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  -moz-border-radius: 8px;;
  background: #fff;
  float: left;
  margin: 0px auto;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
  position:relative;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(255,255,255,0.5)));
}

.iIcon img {
	border:0;
	position: absolute;
	left:50%;
	top:50%;
	height:42px;
	width:42px;
	margin-top:-21px;
	margin-left:-21px;
	z-index:4;
}

.iGloss {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.1));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.35)), to(rgba(255, 255, 255, 0.1)));
  height: 23px;
  width: 42px;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 30px 4px;
  border-bottom-left-radius: 30px 4px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 30px 4px;
  -moz-border-radius-bottomleft: 30px 4px;
  z-index: 5;
  -webkit-box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.4);
}

/*--- WINDOWS ---*/
.wxWindow {

}

/*--- WINDOW TYPE APP ---*/
.wxWindow_app {
  border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
}

.wxWindow_top {
	width:100%;
	height:60px;
	background: -moz-linear-gradient(top, #CBCBCB 0%, #A7A7A7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CBCBCB), color-stop(100%,#A7A7A7));
	background:rgba(167,167,167,1);
	border-bottom:1px solid rgba(81,81,81,1);
	overflow:hidden;
}

.wxWindow_top_wrapper {
	width:100%;
	height:100px;
	box-shadow: inset 0px 5px 30px rgba(255,255,255,0.3);
	-moz-box-shadow: inset 0px 5px 30px rgba(255,255,255,0.3);
	margin:0 auto 0px;
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	position:relative;
}

.wxWindow_top_buttons {
	left: 7px;
	position: absolute;
	top: 4px;
}

.wxWindow_top_buttons .button {
  width:10px;
  height:10px;
  border-radius: 11px;
  -moz-border-radius: 11px;
  float:left;
  padding: 0px;
  margin: 0;
  margin-right:7.35px;
  border: 1px solid rgba(87, 94, 107, 0.85);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.1)));
  font: small-caps bold 10px/10px Lucida;
  text-align:center;
  cursor:default;
}

.wxWindow_top_pill {
  width:16.35px;
  height:6.35px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  float:left;
  border: 1px solid rgba(81, 81, 81, 0.85);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.1)));
  font: small-caps bold 8px/8px Lucida;
  text-align:center;
  cursor:default;
  position:absolute;
  top:5.5px;
  right:7px;
}

.wxWindow_top_title {
	width:100%;
	height:21px;
	position:absolute;
	top:0;
	text-align:center;
	font: 12px/21px "Lucida Grande";
	color: #000000;
}

.wxWindow_top_toolbar {
	width:100%;
	height:39px;
	position:absolute;
	top:21px;
}

.wxWindow_body {
	width:100%;
	background: #ffffff;
	color: #000000;
	padding: 0;
	margin: 0;
}

.wxWindow_body_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.wxWindow_body_sidebar {
  width: 135px;
  height: 100%;
  overflow: hidden;
  background: rgba(221, 228, 235, 1);
  border-right:1px solid rgba(180, 180, 180, 1);
}

.wxWindow_body_content {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 135px;
  overflow-y: auto;
}

.wxWindow_footer {
	width:100%;
	height:23px;
	background: -moz-linear-gradient(top, #CBCBCB 0%, #A7A7A7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CBCBCB), color-stop(100%,#A7A7A7));
	background:rgba(167,167,167,1);
	border-top:1px solid rgba(81,81,81,1);
	position:absolute;
	bottom:0;
	overflow:hidden;
}

.wxWindow_footer_wrapper {
	width:100%;
	height:46px;
	box-shadow: inset 0px 1px 30px rgba(255,255,255,0.3);
	-moz-box-shadow: inset 0px 1px 30px rgba(255,255,255,0.3);
	margin:-23px auto 0px;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
}

/*--- WINDOW TYPE APP FOOTER ---*/
.wxWindow_app .wxWindow_footer {
  display: none;
}

/*--- MISC BUTTONS ---*/
.wxButton_toggle {
	width:50px;
	height:16px;
	margin:0;
	padding:0;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	
	overflow:none;
	border:1px solid #828282;
	behavior: url(../PIE.php);
}
.wxButton_toggle_square {
	width:50;
	height:16px;
	background: url("../imgs/buttons/toggle_button.png") -28px 0 no-repeat;
}
