.wxBrowser {
	position:absolute;
	top:35px;
	left:35px;
	padding:0;
	margin:0;
	background:#ffffff;
	border:1px solid rgba(155,155,155,1);
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	behavior: url(../ie-css3.php);
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.5);
	z-index:10;
}

.wxBrowser_top {
	width:100%;
	height:87px;
	position:relative;
	background:#fcfcfc;
	background: -moz-linear-gradient(top, #CBCBCB 0%, #A7A7A7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CBCBCB), color-stop(100%,#A7A7A7));
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	behavior: url(../ie-css3.php);
}

.wxBrowser_buttons {
	left: 7px;
 	position: absolute;
 	top: 4px;
 	z-index:11;
}
.wxBrowser_buttons div {
	width:10px;
  height:10px;
  border-radius: 11px;
  -moz-border-radius: 11px;
  behavior: url(../ie-css3.php);
  float:left;
  padding: 0px;
  margin: 0;
  margin-right:7.35px;
  border: 1px solid rgba(87, 94, 107, 0.85);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1));
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.1)));
  font: small-caps bold 10px/10px Lucida;
  text-align:center;
  cursor:default;
}

.wxBrowser_top_permanents {
	height:19.5px;
	width:100%;
	margin:0;
	padding:0;
	position:relative;
}

.wxBrowser_title {
	width:100%;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	color:#000000;
}
.wxBrowser_nav {
	position:relative;
	height:33.5px;
	margin:0;
	padding:8px 0 0 0;
	width:100%;
}
.wxBrowser_tabs_wrapper {
  height:25px;
  width:100%;
  border-top:1px solid rgba(81,81,81,1);
  border-bottom:1px solid rgba(81,81,81,1);
  background:#8a8a8a;
}

.wxBrowser_nav div {
	text-align:center;
}

.wxBrowser_button_back {
	width:30px;
	height:30px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	behavior: url(../ie-css3.php);
	position:absolute;
	top:3px;
	left:7px;
	z-index:11;
	background:#fcfcfc;
	background-image:url('../imgs/browser/buttons.png');
	background-image:url('../imgs/browser/buttons.png'), -moz-linear-gradient(top, #fcfcfc, #b0b0b0);
	background-image:url('../imgs/browser/buttons.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b0b0b0));
	background-position: 0px 0px;
	border:1px solid #545454;
}
.wxBrowser_button_back.enabled {
  background-position: -120px 0px;
}
.wxBrowser_button_forward {
	width:28px;
	height:20px;
	border-radius: 0px 20px 20px 0px;
	-moz-border-radius: 0px 20px 20px 0px;
	behavior: url(../ie-css3.php);
	position:absolute;
	left:34px;
	z-index:10;
	background:#fcfcfc;
	background-image:url('../imgs/browser/buttons.png');
	background-image:url('../imgs/browser/buttons.png'), -moz-linear-gradient(top, #fcfcfc, #b0b0b0);
	background-image:url('../imgs/browser/buttons.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b0b0b0));
	background-position: -26px 0px;
	border:1px solid #545454;
}
.wxBrowser_button_forward.enabled {
  background-position: -146px 0px;
}
.wxBrowser_button_home {
	width:34px;
	height:20px;
	border:1px solid #545454;
	border-radius: 20px;
	-moz-border-radius: 20px;
	behavior: url(../ie-css3.php);
	margin:0px 12px 0px 76px;
	background:#fcfcfc;
	background-image:url('../imgs/browser/buttons.png');
	background-image:url('../imgs/browser/buttons.png'), -moz-linear-gradient(top, #fcfcfc, #b0b0b0);
	background-image:url('../imgs/browser/buttons.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b0b0b0));
	background-position: -166px 0px;
	border:1px solid #545454;
	float:left;
	z-index:10;
}
.wxBrowser_button_refresh {
	width:34px;
	height:20px;
	border:1px solid #545454;
	border-radius: 20px;
	-moz-border-radius: 20px;
	behavior: url(../ie-css3.php);
	margin:0px 12px 0px 0px;
	background:#fcfcfc;
	background-image:url('../imgs/browser/buttons.png');
	background-image:url('../imgs/browser/buttons.png'), -moz-linear-gradient(top, #fcfcfc, #b0b0b0);
	background-image:url('../imgs/browser/buttons.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b0b0b0));
	background-position: -70px 0px;
	border:1px solid #545454;
	float:left;
	z-index:10;
}
.wxBrowser_button_refresh.enabled {
  background-position: -190px 0px;
}
.wxBrowser_button_stop {
	width:34px;
	height:20px;
	border:1px solid #545454;
	border-radius: 20px;
	-moz-border-radius: 20px;
	behavior: url(../ie-css3.php);
	margin:0px 12px 0px 0px;
	background:#fcfcfc;
	background-image:url('../imgs/browser/buttons.png');
	background-image:url('../imgs/browser/buttons.png'), -moz-linear-gradient(top, #fcfcfc, #b0b0b0);
	background-image:url('../imgs/browser/buttons.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b0b0b0));
	background-position: -95px 0px;
	border:1px solid #545454;
	float:left;
	z-index:10;
}
.wxBrowser_button_stop.enabled {
  background-position: -215px 0px;
}
.wxBrowser_url_field {
	height:20px !important;
	border:1px solid #545454;
	border-radius: 20px;
	-moz-border-radius: 20px;
	behavior: url(../ie-css3.php);
	padding:0px 0px 0px 30px;
	margin:0px 12px 0px 0px;
	z-index:10;
	width:250px;
	background:#fcfcfc;
	background: -moz-linear-gradient(top, #fcfcfc, #b0b0b0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#b0b0b0));
	border:1px solid #545454;
	float:left;
	position:relative;
}

.wxBrowser_url_field input {
	padding:0px 10px;
	margin:0;
	height:20px !important;
	width:230px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	behavior: url(../ie-css3.php);
	border:0;
	-webkit-box-shadow: inset 0px 1px 2px #000000;
	-moz-box-shadow: inset 0px 1px 2px #000000;
	box-shadow: inset 0px 1px 2px #000000;
}
.wxBrowser_loader {
	background:transparent;
	width:16px;
	height:11px;
	border:0px!important;
	position:absolute;
	left:8px;
	top:1.5px;
}

.wxBrowser_iframe {
	frameborder:0;
	border:0;
	width:100%;
	height:274px;
	margin:0px;
	padding:0;
	scrolling:auto;
}